.weather-container {
  display: flex;       
  flex-wrap: wrap;       
  gap: 20px;             
  justify-content: center; 
  align-items: stretch;    
  margin: 0 auto;        
}


.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#header {
  color: blue;
}

.location-search {
  text-align: center;
  margin-top:5%;
  margin-bottom:5%;
}

header {
  color: white;
  background: blue;
  padding: 2%;
  text-align:center;
}

.currentWeather {
  padding-left: 100px;
}